
#Background {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    z-index: -1;
    
}

.topnav {
  background-color: #333;
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #af3531;
  color: white;
}

#logo {
    height: 0px;
    width: 0px;
    z-index: 1;
    position: absolute;
   
        
}

#services {
    float: left;
    background-color: #af3531;
    width: 200px;
}

.btn-group {
    float: left;
}

.btn-group button {
  background-color: #FFFFFF; /* White background */
  border: 1px solid #af3531; /* Green border */
  color: black; /* Black text */
  padding: 10px 75px; /* Some padding */
  cursor: pointer;
  width: 10%; /* Set a width*/
  display: inline-block; /* Make the buttons appear below each other */
   text-align: center;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #af3531;
}

#CompanyHead  {
  background-color: #FFFFFF;
  text-align: center;
  padding: 2px;
  margin: 0;
} 